.blogheader {
  background-image: url("../../../assets/banner/b19.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;

  &__title {
    margin-bottom: 10px;
  }

  &__title,
  &__text {
    color: white;
  }
}
