.newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("../../../assets/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
  padding: 40px 80px;
  margin: 40px 0;
  position: relative;

  @media (max-width: 477px) {
    padding: 40px 20px;
  }

  &__title {
    font-size: 22px;
    font-weight: 700;
    color: white;
  }

  &__text {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
  }

  &__strong {
    color: #ffbd27;
  }

  &__form {
    display: flex;
    width: 40%;

    @media (max-width: 799px) {
      width: 70%;
    }

    @media (max-width: 477px) {
      width: 100%;
    }

    &__input {
      height: 3.125rem;
      padding: 0 1.25em;
      font-size: 14px;
      width: 100%;
      border: 1px solid transparent;
      border-radius: 4px;
      outline: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &__button {
      font-size: 14px;
      font-weight: 600;
      padding: 15px 30px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      outline: none;
      transition: 0.2s;
      background-color: #088178;
      color: white;
      white-space: nowrap;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__error,
  &__success {
    position: absolute;
    right: calc(20% + 60px);
    transform: translateX(50%);
    bottom: 0px;
    color: red;
    font-weight: 700;

    @media (max-width: 900px) {
      right: calc(75%);
      bottom: -18px;
      transform: translateX(50%);
      font-size: 13px;
      text-align: center;
    }

    @media (max-width: 477px) {
      right: calc(35% + 60px);
      bottom: -15px;
      text-align: center;
      font-size: 12px;
    }
  }

  &__success {
    color: #088178;
  }
}
