.productdetails {
  display: flex;
  margin-top: 20px;
  padding: 40px 80px;

  img {
    width: 100%;
  }

  &__singleProductImg {
    width: 40%;
    margin-right: 50px;
  }

  &__smallImagesGroup {
    display: flex;
    justify-content: space-between;

    &__smallImageColumn {
      flex-basis: 24%;
      cursor: pointer;
    }
  }
}
