.productdetails {
  display: flex;
  margin-top: 20px;
  padding: 40px 80px;

  @media (max-width: 477px) {
    display: flex;
    flex-direction: column;
  }

  img {
    width: 100%;
  }

  &__singleProductImg {
    width: 40%;
    margin-right: 50px;

    @media (max-width: 477px) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__smallImagesGroup {
    display: flex;
    justify-content: space-between;

    &__smallImageColumn {
      flex-basis: 24%;
      cursor: pointer;
    }
  }
}
